* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.info {
    min-height: 56px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center
}
.stadium {
    width: 100%;
    height: 100vh;
}

.track {
    display: flex;
    align-items: center;
    height: 30vh;
    background-color: #cecece;
    border-bottom: 2px solid #ffffff;
}

.track img {
    height: 20vh;
    transition: all 1s ease-in-out;
}

