
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stadium {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.track {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1% 0;
    height: 26%;
    background-color: #cecece;
}

.track img {
    height: 160px;
    transition: all 1s ease-in-out;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.button-cont {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-cont {
    width: 70%;
}

@media (min-width: 1200px) {
    .track {
        height: 24%;

    }
    .track img {
        height: 110px;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    .track {
        height: 24%;
    }
    .track img {
        height: 110px;
    }
    .info {
        height: 60px;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .track {
        height: 24%;

    }
    .track img {
        height: 100px;
    }

}
@media (max-width: 767px) {
    .track {
        height: 26%;
    }
    .track img {
        height: 80px;
    }
}

@media (max-width: 479px) {
    .track {
        height: 26%;
    }
    .track img {
        height: 80px;
    }
    .info {
        margin-top: 5px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .winner {
        width: 300px;
        margin: 3px 0;
    }
}
